<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :description %>
	<%= f.text_area :description, class: "materialize-textarea" %>
</p>
<p>
	<%= f.label :born_at %>
	<%= f.date_field :born_at %>
</p>
<p>
	<%= f.label :avatar_url %>
	<%= f.text_field :avatar_url %>
</p>
