<h1>Crear Pet</h1>

<%= render partial: "shared/errors", locals: { obj: @pet } %>

<%= form_for @pet do |f| %>
	<div style="padding: 100px">
		<%= render partial: "form", locals: {f: f} %>
	</div>
	<p>
		<%= f.submit "Crear", class:"btn btn-default btn-lg" %>
		<%= link_to "Cancelar", pets_path, class:"btn btn-default btn-lg" %>
	</p>
<%- end %>
